@model LukeTest.Models.ViewModels.Member.ShoppingCartViewModel;
@{
    Layout = "_MemberLayout";
    var firstOrderDetail = Model.OrderDetails.FirstOrDefault();
}

<h2>@Model.PageTitleText</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstOrderDetail.IsApproved)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderDetails.Any())
        {
            foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsApproved)
                    </td>
                    <td>
                    <a href="@Url.Action("DeleteCart")?Id=@item.Id"
                    class="btn btn-danger" onclick="return confirm('@Model.GetDeleteConfirmationText(item.ProductName)')">@Model.DeleteButtonText</a>
                </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">@Model.NoOrderDetailText</td>
            </tr>
        }
    </tbody>
</table>

<form action="@Url.Action("ShoppingCart")" method="post">
    <div class="form-horizontal">
        <h4>@Model.RecipientTitleText</h4>
        <hr />

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientNameText</span>
            <div class="col-md-10">
                <input type="text" id="Receiver" name="Receiver" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientMailText</span>
            <div class="col-md-10">
                <input type="email" id="Email" name="Email" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientAddressText</span>
            <div class="col-md-10">
                <input type="text" id="Address" name="Address" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Model.RecipientFormSumbitText class="btn btn-default" />
            </div>
        </div>
    </div>
</form>