@model LukeTest.Models.ViewModels.Member.ShoppingCartViewModel;
@{
    Layout = "_MemberLayout";
}

<h2>@Model.PageTitleText</h2>

@await Html.PartialAsync("~/Views/Shared/Partials/_DynamicTable.cshtml", Model.OrderDetails)

<form action="@Url.Action("ShoppingCart")" method="post">
    <div class="form-horizontal">
        <h4>@Model.RecipientTitleText</h4>
        <hr />

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientNameText</span>
            <div class="col-md-10">
                <input type="text" id="Receiver" name="Receiver" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientMailText</span>
            <div class="col-md-10">
                <input type="email" id="Email" name="Email" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">@Model.RecipientAddressText</span>
            <div class="col-md-10">
                <input type="text" id="Address" name="Address" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Model.RecipientFormSumbitText class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>